<h1>New Entry</h1>

<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <p>
    <label for="title">Title</label><br>
    <input type="text" name="entry[title]" id="title">
  </p>

  <p>
    <label for="description">Description</label><br>
    <textarea name="entry[description]" id="description"></textarea>
  </p>

  <p>
    <label for="occurred_on">Occurred On</label><br>
    <input type="date" name="entry[occurred_on]" id="occurred_on">
  </p>

  <p>
    <button type="submit">Save Entry</button>
  </p>
</form>

